<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Create a New Account</h1>
  <% if (error) { %>
    <p style="color:#00ff00"><%= error %></p>
  <% } %>
  <form action="/signup" method="POST">
    <label for="user_id">User ID:</label><br>
    <input type="text" id="user_id" name="user_id" required><br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <!-- Add other fields if needed -->

    <button type="submit">Sign Up</button>
  </form>
  <p>Already have an account? <a href="/signin">Sign In</a></p>
</body>
</html>
